<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <!-- Los routerlink realizaran el href a los distintos componentes 
      previamente seteados en el app-routing.modules.ts -->
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item  routerLink="/listar" routerLinkActive="active">Lista de Usuarios</a>
      <a mat-list-item routerLink="/vehiculo" routerLinkActive="active">Buscar Patente</a>
      <a mat-list-item routerLink="/multas" routerLinkActive="active">Buscar Multas</a>
      <a mat-list-item routerLink="/allcarsxrut" routerLinkActive="active">Buscar Vehiculos por rut</a>
      <a mat-list-item routerLink="/maps" routerLinkActive="active">Google Maps</a> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <!-- declaramos el metodo onSearch creado en el ts search que 
      activara el metodo onSearch con el event -->
    <router-outlet></router-outlet>
    <!--
    <app-search (onSearch)="onSearch($event)"></app-search>
    <ng-container *ngFor="let article of articles$ | async">
      <app-articles [article]="article">

      </app-articles>
    </ng-container>-->
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
