
mat-card-title{
    text-align: center;
    margin: 1rem auto;
}

mat-card{
    max-width: 250px;
    margin: 2rem auto;
    height: 150px;
}

.pagada{
    color: green;
}

.nopagada{
    color: red;
}
